:root {
    /*CORES PERFIS*/
    --cor-perfil-1: #92ebff;
    --cor-perfil-2: #ffaf92;
    --cor-perfil-3: #e992ff;
    --cor-perfil-4: #92ff98;
    --cor-perfil-5: #b8b8b8;
}

/*CONFIGURAÇÕES GERAIS*/

    * {
        margin: 0px;
        text-size-adjust: none;
        color: var(--cor-fonte-principal);
        font-family: var(--fonte-principal);
        text-decoration: none;
        box-sizing: border-box;
        color: #202020;
        font-family: Open Sans;
    }

    html {
        overflow: hidden;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
        background-color: #ffffff;
    }
    
    hr {
        margin: 10px 0px;
        height: 2px;
        border: none;
        background-color: #e1e1e1;
    }

    h1 {
        text-align: center;
    }

    p {
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        margin: 24px;
    }

    a, button, label {
        -webkit-tap-highlight-color: transparent;
    }

    a {
        font-size: 12px;
    }

    *::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        margin-left: 5px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    ::selection {
        background-color: white;
        color: black;
    }

/**/

/*BARRA DE PROGRESSO*/

    .barra_status_cadastro {
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 10px;
        background-color: #ebebeb;
    }

    .preenchimento_barra_status_cadastro {
        width: 0%;
        height: 100%;
        background-color: #b59dff;
        transition: 1s ease;
    }

/**/

/*FORMULÁRIO CADASTRO*/

    /*TELAS*/

        #tela_login {
            z-index: 0;
            opacity: 1;
        }

        #tela_cadastro1 {
            z-index: -1;
            opacity: 0;
            position: absolute;
            margin-top: 70px;
        }

        #tela_cadastro2 {
            z-index: -1;
            opacity: 0;
            position: absolute;
            margin-top: 40px;
        }

        #tela_cadastro3 {
            z-index: -1;
            opacity: 0;
            position: absolute;
            margin-top: 70px;
        }

        #tela_cadastro4 {
            z-index: -1;
            opacity: 0;
            position: absolute;
            margin-top: 170px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

    /**/

    .formulario_cadastro {
        width: fit-content;
        height: fit-content;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }

    .logo_plataforma {
        height: 40px;
        width: fit-content;
        margin: auto auto 30px auto;
        filter: invert(1);
        transition: 0.3s;
    }

    .box_formulario {
        width: 350px;
    }

    label {
        width: 100%;
        font-weight: bold;
    }

    input {
        width: 100%;
        margin: 10px 0px 20px 0px;
        padding:  15px;
        border-radius: 10px;
        border: none;
        background-color: #F1F1F1;
    }

    input::placeholder {
        color: #bbb;
    }

    input:-webkit-autofill, /*Estilo pra atrasar a mudança do background-color do input (preenchimento automático)*/
    input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    }

    /*BOTÕES*/

        button:hover {
            cursor: pointer;
        }

        button:active {
            transform: scale(0.95);
        }
    
        .botao_principal {
            background-color: #202020;
            color: white;
            margin: 20px 0px;
            font-weight: bold;
            border-radius: 30px;
            font-size: 16px;
            width: 100%;
            padding: 15px;
            border: none;
        }

        .botao_inverso {
            border: solid 2px #202020;
            background-color: transparent;
            border-radius: 30px;
            width: 100%;
            padding: 15px;
            font-weight: bold;
            font-size: 16px;
        }

        .box_botoes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }
        
        .box_botoes * {
            width: 45%;
            margin: 0px;
        }

        #box_botoes_tela2 {
            margin-top: 20px;
        }

    /**/

    /*ÁREA DE CONTRATO*/

        .box_input_selecionar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0px;
            position: relative;
        }
        
        .check_acordos {
            height: fit-content;
            width: fit-content;
            margin: 5px 10px 5px 0px;
            padding: 8px;
            appearance: none;
            border-radius: 5px;
            border-color: black;
        }
        
        .check_acordos:checked {
            background-color: rgb(0, 0, 0);
        }
        
        .check_input_img {
            display: none;
            left: 0px;
            position: absolute;
            color: #ffffff;
            height: 16px;
            align-items: center;
            filter: invert(1);
        }

        .check_acordos:checked ~ .check_input_img {
            display: flex;
        }
         
        .legenda_acordo {
            font-weight: initial;
            font-size: 12px;
        }

    /**/

    /*PERFIL CAD*/
            
        .box_cinza {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #F1F1F1;
            padding: 15px;
            border-radius: 15px;
            align-items: center;
            margin: 20px 0px;
        }

        .box_perfil {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .perfil_user {
            border-radius: 100px;
            height: 40px;
            width: 40px;
            margin-right: 20px;
        }
        
        .perfil_user img {
            width: 40px;
            height: 40px;
        }

        #input_username_cad {
            background-color: white;
            margin: 15px 0px;
        }

    /*PERFIL CAD*/

    /*BOTÕES CORES CAD*/

        .box_bts_tema1_cad {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            padding: 0px;
        }

        .bt_cor_cad {
            background-color: transparent;
            width: 100%;
            height: 100%;
            margin: 0px 5px;
            border: none;
            border-radius: 10px;
            appearance: none;
            transition: 0.5s;
            width: 35px;
            height: 35px;
        }

        .bt_cor_cad:hover {
            cursor: pointer;
            transform: translatey(-5px);
            transition: 0.5s;
        }
        
        .bt_cor_cad:active {
            transform: scale(0.8);
        }

        #bt_cor_1 {background-color: var(--cor-perfil-1);}
        #bt_cor_2 {background-color: var(--cor-perfil-2);}
        #bt_cor_3 {background-color: var(--cor-perfil-3);}
        #bt_cor_4 {background-color: var(--cor-perfil-4);}
        #bt_cor_5 {background-color: var(--cor-perfil-5);}

    /**/

    /*BOTÕES MOTIVO CAD*/

        .box_bts_motivos_cad {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }

        .box_bts_motivos_cad input {
            display: none;
        }

        .bt_motivo_cad {
            color: #676767;
            background-color: white;
            width: 47%;
            appearance: none;
            margin: 8px 0px;
            padding: 10px;
            border-radius: 10px;
            overflow: scroll;
            transition: 0.3s;
        }

        .bt_motivo_cad:hover {
            transform: translateY(-4px);
            cursor: pointer;
        }
        
        .bt_motivo_cad:active {
            transform: scale(0.95)
        }
        
        .box_bts_motivos_cad input:checked + label {
            background-color: #202020;
            color: white;
            font-weight: bold;
        }

    /**/

    /*CÓDIGO DE CONFIRMAÇÃO*/
        
        #codigo_confirmacao {
            margin: 20px 0px;
        }
    
        #botao_concluir_cadastro {
            background-color: rgb(181, 157, 255);
        }

    /**/

    #logo_bem_vindo {
        height: 45px;
        filter: invert(1);
        margin-bottom: 20px;
    }

/**/

@media screen and (max-width: 700px) {

    html {
        overflow: auto;
    }

    body {
        align-items: baseline;
        padding-top: 30px;
    }

}

@media screen and (max-width: 550px) {

    .box_formulario {
        width: 100%;
        padding: 20px;
    }

    .logo_plataforma {
        margin: 0px 20px 20px;
    }

}

@media screen and (max-width: 300px) {

    .box_bts_tema1_cad {
        overflow: scroll;
    }

}

@media screen and (max-height: 600px) {

    html {
        overflow: auto;
    }

    body {
        align-items: baseline;
        padding-top: 30px;
    }

}